---
import '../styles/index.css';
import 'react-chessboard-ui/dist/index.css';

import LayoutApp from '../layouts/LayoutApp.astro';
import Header from '../layouts/Header.astro';
---
<LayoutApp>
    <Header />
    <div class="container mainLayout">
        <div class="leftBlock">
            <div class="mainContent">
                <h1 class="title"><span class="titleAccentColor">React</span> Chessboard&nbsp;UI</h1>
                <p class="description">
                    This library is designed for the fast and simple creation of chess applications.
                </p>
                <div class="buttonsBlock">
                    <a class="button buttonBlue" href="/docs/quickStart">
                        Get started
                    </a>
            
                    <a class="button" href="/examples/customFen">
                        Examples
                    </a>
                </div>
            </div>
        </div>
        <div class="mainPoster">
            <img src="./react-chessboard.svg" alt="react and chessboard">
        </div>
    </div>
</LayoutApp>

<script>

</script>

<style scoped>
    .mainLayout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 120px;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 80%;
        padding-top: 80px;
    }

    .title {
        color: var(--color-gray-900);
        font-weight: 900;
        font-size: 50px;
        margin: 0;
        margin-bottom: 10px;
    }

    .description {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 60px;
    }

    .titleAccentColor {
        color: var(--color-blue-500);
    }

    .button {
        box-sizing: border-box;
        text-decoration: none;
        font-size: 24px;
        border: none;
        padding: 20px 40px;
        cursor: pointer;
        color: #fff;
        background-color: var(--color-gray-700);
        text-align: center;
        border-radius: 10px;
        transition: background-color .3s;
        flex: 1;
    }

    .button:hover {
        background-color: var(--color-gray-900);
    }

    .buttonBlue {
        background-color: var(--color-blue-500);
    }

    .buttonBlue:hover {
        background-color: var(--color-blue-700);
    }

    .buttonsBlock {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 16px;
    }
   
    @media screen and (max-width: 1243px) {
        .mainContent {
            padding-top: 0px;
        }

        .button {
            width: 100%;
        }

        .buttonsBlock {
            flex-direction: column;
            align-items: center;
        }
    }

    @media screen and (max-width: 1180px) {
        .mainPoster {
            padding-top: 40px;
        }

        .mainPoster img {
            max-width: 90%;
            margin: auto;
        }
    }   

    @media screen and (max-width: 980px) {
        .mainPoster {
            display: none;
        }

        .mainLayout {
            grid-template-columns: 1fr;
            padding-top: 40px;
        }

        .mainContent {
            max-width: 100%;
            align-items: center;
            gap: 40px;
        }

        .buttonsBlock {
            width: 100%;
        } 

        .button {
            width: 100%;
        }

        .title {
            text-align: center;
        }

        .description {
            text-align: center;
        }
    }
</style>
