---
import '../styles/index.css';
import 'react-chessboard-ui/dist/index.css';

import LayoutApp from '../layouts/LayoutApp.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---
<LayoutApp>
    <Header />
    <div class="container mainLayout">
        <div class="leftBlock">
            <div class="mainContent">
                <h1 class="title"><span class="titleAccentColor">React</span> Chessboard&nbsp;UI</h1>
                <p class="description">
                    This library is designed for the fast and simple creation of chess applications.
                </p>
                <div class="buttonsBlock">
                    <a class="button buttonBlue" href="/docs/quickStart">
                        Get started
                    </a>
            
                    <a class="button" href="/examples/customFen">
                        Examples
                    </a>
                </div>
            </div>
        </div>
        <div class="mainPoster">
            <img src="./react-chessboard.svg" alt="react and chessboard">
        </div>
    </div>
    <div class="container descriptionAbilities">
        <div class="descriptionBlock descriptionFEN">
            <div class="additionalContent">
                <div>
                    <div class="subTitle">Using <span class="titleAccentColor">FEN-notation<span></div>
                    <p class="description">Use FEN-notation to easily set up the pieces on the chessboard.</p>
                </div>
                <div class="poster">
                    <img width="100%" src="./FENnotationExample.png" alt="Code example">
                </div>
            </div>
        </div>
        <div class="descriptionBlock descriptionDesktop">
            <div class="additionalContent">
                <div>
                    <div class="subTitle">Full <span class="titleAccentColor">interactive</span> chessboard</div>
                    <p class="description">Using all the features of the chess board to create the best possible chess app 🎠</p>
                </div>
                <div class="poster">
                    <img width="100%" src="./desktopApp.png" alt="Example Desktop App">
                </div>
            </div>
        </div>
        <div class="descriptionBlock descriptionMobile">
            <div class="additionalContent">
                <div>
                    <div class="subTitle">Full <span class="titleAccentColor">adaptive</span> for all devices</div>
                    <p class="description">You can create chess applications for various devices, such as mobile phones and tablets.</p>
                </div>
                <div class="poster">
                    <img width="100%" src="./mobileAndHand.png" alt="Code example">
                </div>
            </div>
        </div>
    </div>
    <Footer />
</LayoutApp>

<script>

</script>

<style scoped>
    .mainLayout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 120px;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 80%;
        padding-top: 80px;
    }

    .title {
        font-weight: 900;
        font-size: 50px;
        margin: 0;
        margin-bottom: 10px;
    }

    .description {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 60px;
    }

    .titleAccentColor {
        color: var(--color-blue-500);
    }

    .button {
        box-sizing: border-box;
        text-decoration: none;
        font-size: 24px;
        border: none;
        padding: 20px 40px;
        cursor: pointer;
        color: #fff;
        background-color: var(--color-gray-700);
        text-align: center;
        border-radius: 10px;
        transition: background-color .3s;
        flex: 1;
    }

    .button:hover {
        background-color: var(--color-gray-900);
    }

    .buttonBlue {
        background-color: var(--color-blue-500);
    }

    .buttonBlue:hover {
        background-color: var(--color-blue-700);
    }

    .buttonsBlock {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 16px;
    }

    .descriptionAbilities {
        margin-top: 180px;
    }

    .descriptionAbilities .description {
        max-width: 400px;
    }

    .descriptionBlock {
        margin-bottom: 150px;
    }

    .descriptionFEN .poster {
        width: 100%;
    }

    .descriptionDesktop .poster {
        width: 100%;
    }

    .descriptionMobile .poster {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .descriptionMobile img {
        width: 60%;
    }

    .subTitle {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 30px;
        color: var(--color-theme-titles);
    }

    .additionalContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    @media screen and (max-width: 1243px) {
        .mainContent {
            padding-top: 0px;
        }

        .button {
            width: 100%;
        }

        .buttonsBlock {
            flex-direction: column;
            align-items: center;
        }
    }

    @media screen and (max-width: 1180px) {
        .mainPoster {
            padding-top: 40px;
        }

        .mainPoster img {
            max-width: 90%;
            margin: auto;
        }
    }   

    @media screen and (max-width: 980px) {
        .mainPoster {
            display: none;
        }
        
        .poster {
            display: none;
        }

        img {
            display: none;
        }

        .mainLayout {
            grid-template-columns: 1fr;
            padding-top: 40px;
        }
        
        .additionalContent {
            grid-template-columns: 1fr;
        }

        .descriptionAbilities .description {
            max-width: 100%;
            margin: 0;
        }

        .subTitle {
            font-size: 36px;
            text-align: center;
            margin-bottom: 20px;
        }

        .descriptionBlock {
            margin-bottom: 60px;
        }

        .mainContent {
            max-width: 100%;
            align-items: center;
            gap: 40px;
        }

        .buttonsBlock {
            width: 100%;
        } 

        .button {
            width: 100%;
        }

        .title {
            text-align: center;
        }

        .description {
            text-align: center;
        }
    }
</style>
