---
import Layout from '../layouts/Layout.astro';
import { ChessBoardDefault } from '../components/ChessBoards';
---

<Layout title="Welcome to Astro.">
	<main>
		<ChessBoardDefault client:load />
	</main>
</Layout>

<style is:global>
	
</style>
