---
import '../styles/index.css';
import LayoutApp from '../layouts/LayoutApp.astro';
import Header from '../layouts/Header.astro';
import { ChessBoardKings } from '../components/ChessBoards';
import 'react-chessboard-ui/dist/index.css';
---

<LayoutApp title="chessboard-ui">
    <Header />
    <div class="flex justify-center gap-4">
        
        <!-- Primary Button -->
        <a href="/docs/quickStart">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full">
                Quick start
            </button>
        </a>

        <!-- Secondary Button -->
        <a href="/examples/customFen">
            <button class="bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-6 rounded-full">
                Show Examples
            </button>
        </a>
    </div>
</LayoutApp>


<style scoped>
.codeBlock {
  
}
</style>
