.button {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    border: none;
    padding: 16px 20px;
    cursor: pointer;
    color: #fff;
    background-color: var(--color-blue-700);
    text-align: center;
    border-radius: 10px;
    transition: background-color .3s;
    flex: 1;
}

.squareWhite {
    background-image: url(/magicPieces/square-light.png);
    background-size: cover;
    opacity: .8;
}

.squareBlack {
    background-image: url(/magicPieces/square-dark.png);
    background-size: cover;
    opacity: .8;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(720deg);
        opacity: 0;
    }
}

.hidePieceEffectWithRotate {
    animation: rotate 0.5s 0s 1 linear forwards;
}