---
import { MENU_ROUTES } from '../constants/routes';
---

<footer>
    <div class="container footerContent">
        <ul class="menu">
            {MENU_ROUTES.filter((item) => !!item.link).map((item) => 
                <li class="menuItem">
                    <a href={item.link}>
                        {item.text}
                    </a>
                </li>
            )}
        </ul>
        <p class="developedBy">Developed by a team of <a href="https://www.chesson.me/">chesson.me</a></p>
    </div>
</footer>
<style scoped>
footer {
    margin: 0;
    background-color: var(--color-theme-background);
}

.footerContent {
    box-sizing: border-box;
    border-left: 1px solid var(--color-theme-border);
    border-right: 1px solid var(--color-theme-border);
    border-bottom: 1px solid var(--color-theme-border);
    padding: 48px clamp(40px, 6vw, 72px);
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 14px 32px;
    margin: 0;
    padding: 0;
}

.menuItem {
    list-style-type: none;
}

.menuItem a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    color: var(--color-theme-menu-item);
    transition: color .2s ease;
}

.menuItem a:hover {
    color: var(--color-theme-link);
}

.developedBy {
    margin: 40px 0 0;
    padding-top: 24px;
    border-top: 1px solid var(--color-theme-border);
    color: var(--color-theme-text);
    font-size: 14px;
    line-height: 1.6;
}

.developedBy a {
    color: var(--color-theme-link);
    text-decoration: none;
}

@media screen and (max-width: 980px) {
    .footerContent {
        border-left: 0;
        border-right: 0;
        padding: 40px 0;
    }

    .menu {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 12px 20px;
    }
}

@media screen and (max-width: 520px) {
    .menu {
        grid-template-columns: 1fr;
    }
}
</style>
