---

---

<header>
	<!-- <SkipToContent /> -->
	<nav title="Top Navigation" class="container headerContent">
		<div>
			<a class="title" href="/">
				<h1 class="docsName">
					Docs Chessboard UI
				</h1>
				<span class="packageVersion">
					v<span id="versionView"></span>
				</span>
			</a>
		</div>
		<div class="socials">
			<a class="socialIcon socialIconGithub" href="https://github.com/skilldill/react-chessboard-ui">
				<img height="22px" width="22px" src="/github.svg" alt="github logo">
			</a>
			<a class="socialIcon socialIconNpm" class="" href="https://www.npmjs.com/package/react-chessboard-ui">
				<img height="22px" width="22px" src="/npm.svg" alt="npm logo">
			</a>
		<!-- <button onclick="toggleDarkMode()">theme</button> -->
		<!-- {
			SITE.github &&
			(<a title="Github" class="opacity-80 hover:opacity-100 hover:bg-slate-200 p-2 rounded-full transition-colors" href={'https://github.com/'+SITE.github}>
				<img class="h-7" src="/github.svg" alt="github logo">
			</a>)
		}
		{
			SITE.linkedin &&
			(<a title="linkedin" class="opacity-80 hover:opacity-100 hover:bg-blue-50 p-2 rounded-full transition-colors" href={'https://linkedin.com/in/'+SITE.linkedin}>
				<img class="h-7" src="/linkedin.svg" alt="linkedin logo">
			</a>)
		} -->
		</div>
	</nav>
</header>
<script>
	const versionView = document.querySelector<HTMLSpanElement>('#versionView');

	const fetchPackageAction = async (root: HTMLElement) => {
		try {
			const response = await fetch('https://registry.npmjs.org/react-chessboard-ui/latest');
			const { version } = await response.json();
			root.innerText = version;
		} catch(error) {
			console.error(error);
			root.innerText = '0.0.0';
		}
	};

	fetchPackageAction(versionView);
</script>
<style scoped>
	header {
		position: sticky;
		top: 0;
		z-index: 100;
		backdrop-filter: blur(10px);
		background-color: rgb(241 245 249 / .5);
		border-bottom: 1px solid var(--color-gray-200) !important;
		height: 64px;
	}
	.headerContent {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		padding: 16px 0;
	}

	.title {
		text-decoration: none;
		display: flex;
		align-items: end;
	}

	.title h1 {
		margin: 0;
		color: var(--color-gray-700);
		margin-right: 12px;
		font-size: 22px;
	}

	.socials {
		display: flex;
		gap: 14px;
	}

	.packageVersion {
		background-color: var(--color-blue-600);
		color: #fff;
		padding: 4px 8px;
		border-radius: 8px;
		font-weight: 700;
	}

	.socialIcon {
		padding: 4px;
		border-radius: 100%;
		transition: background-color .3s;
		display: flex;
		width: 28px;
		height: 28px;
		justify-content: center;
		align-items: center;
	}

	.socialIconGithub:hover {
		background-color: var(--color-gray-200);
	}

	.socialIconNpm:hover {
		background-color: var(--color-red-200);
	}
</style>
