---
import '../styles/index.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A customizable React chessboard component library. Create interactive chessboards with ease using our flexible and feature-rich React components." />
		<meta property="og:description" content="A customizable React chessboard component library. Create interactive chessboards with ease using our flexible and feature-rich React components." />
		<meta name="keywords" content="react, chess, chessboard, npm-package, react-chessboard" />
		<meta name="viewport" content="width=device-width" />
		<meta name="og:image" content="https://chessboardui.space/og.png" />
		<meta property="og:title" content="React ChessBoard UI">
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>React Chessboard UI</title>
		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "ItemList",
			  "name": "React Chessboard UI Documentation",
			  "itemListElement": [
				{
				  "@type": "SiteNavigationElement",
				  "name": "Documentation",
				  "url": "/docs/introduction"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "Get started",
				  "url": "/docs/quickStart"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "Properties",
				  "url": "/properties/FEN"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "FEN",
				  "url": "/properties/FEN"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "reversed (optional)",
				  "url": "/properties/reversed"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "onChange",
				  "url": "/properties/onChange"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "onEndGame",
				  "url": "/properties/onEndGame"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "change (optional)",
				  "url": "/properties/change"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "config (optional)",
				  "url": "/properties/config"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "playerColor (optional)",
				  "url": "/properties/playerColor"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "Examples",
				  "url": "/examples/customFen"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "Custom FEN",
				  "url": "/examples/customFen"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "Reversing board",
				  "url": "/examples/reversingBoard"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "Pawn promotion",
				  "url": "/examples/pawnPromotion"
				},
				{
				  "@type": "SiteNavigationElement",
				  "name": "Customization",
				  "url": "/examples/customization"
				}
			  ]
			}
		</script>		
	</head>
	<body>
        <slot />
    </body>
</html>