---
import LayoutApp from './LayoutApp.astro';
import Header from './Header.astro';
import LeftSideBar from './LeftSideBar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<LayoutApp title={title}>
	<div class="sticky top-0 z-10 w-full">
		<Header />
	</div>
	<div class="grid grid-cols-12">
		<div class="col-span-3 sticky top-0 pt-12 h-screen flex">
			<div class="ml-auto">
				<LeftSideBar />
			</div>
		</div>
		<main class="py-4 px-8 pb-32 col-span-6  overflow-auto">
			<div>
				<article id="article" class="content">
					<section class="main-section">
						<nav class="block sm:hidden"></nav>
						<slot />
					</section>
				</article>
			</div>
		</main>
		<div class="col-span-3 sticky top-0 h-screen flex">
			<!-- <RightSidebar content={content} /> -->
		</div>
	</div>
</LayoutApp>

