---
import '../styles/index.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A customizable React chessboard component library. Create interactive chessboards with ease using our flexible and feature-rich React components." />
		<meta property="og:description" content="A customizable React chessboard component library. Create interactive chessboards with ease using our flexible and feature-rich React components." />
		<meta name="viewport" content="width=device-width" />
		<meta name="og:image" content="https://chessboardui.space/og.png" />
		<meta property="og:title" content="React ChessBoard UI">
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>React Chessboard UI</title>
	</head>
	<body>
        <slot />
    </body>
</html>