---
import LayoutApp from "./LayoutApp.astro";
import Header from "./Header.astro";
import LeftSideBar from "./LeftSideBar.astro";

interface Props {
  active?: string;
}

const { active } = Astro.props;
---

<LayoutApp>
	<Header />
	<div class="layout container">
		<aside class="leftBlock">
			<LeftSideBar active={active} />
		</aside>
		<main class="centerBlock">
			<slot />
		</main>
		<aside class="rightBlock">Sidebar Right</aside>
	</div>
</LayoutApp>

<style scoped>
	.leftBlock {
		position: sticky;
		top: 64px;
		overflow-y: auto;
		grid-area: lb;
	}
	.centerBlock {
		overflow-y: auto;
		padding: 0 20px;
		padding-bottom: 64px;
		grid-area: cb;
	}
	.rightBlock {
		position: sticky;
		top: 64px;
		overflow-y: auto;
		grid-area: rb;
	}

	.layout {
		height: calc(100vh - 64px);
		display: grid;
		grid-template-columns: 300px 1fr 300px;
		grid-template-areas:
			"lb cb rb";
	}
</style>
