---
import { MENU_ROUTES } from '../constants/routes';

interface Props {
	active?: string;
}

const { active } = Astro.props;
---
<nav class="navbar">
	<ul class="menuItems">
		{MENU_ROUTES.map((item) => 
			<li class:list={item.link 
				? ['menuItem', { active: active === item.link }] 
				: ['menuTitle']
			}>
				{item.link ? (
					<a href={item.link ? item.link : ''}>
						{item.text} {item.isNew && <span class="new">NEW</span>}
						{item.isUpgrade && <span class="upgrade">UPGRADE</span>}
					</a>
				) : <span>{item.text}</span>}
			</li>
		)}
	</ul>
</nav>

<script is:inline>
	
</script>

<style scoped>
	.navbar {

	}
		
	.menuItems {
		padding: 0;
		margin: 0;
	}

	.menuItems li {
		list-style-type: none;
		padding: 4px 0;
	}

	.menuItem {
		font-size: 16px;
		padding-left: 10px !important;
	}

	.menuItem a {
		text-decoration: none;
		display: block;
		width: fit-content;
		color: var(--color-theme-menu-item);
		padding: 6px 8px;
		border-radius: 6px;
		transition: background-color .3s;
	}

	.menuItem a:hover {
		background-color: var(--color-theme-border);
		color: var(--color-theme-titles);
	}

	.active a {
		background-color: var(--color-theme-menu-item-active-bg) !important;
		color: #fff !important;
	}

	.menuTitle {
		font-size: 18px;
		margin-top: 8px;
		color: var(--color-theme-titles);
	}

	.new {
		font-size: 10px;
		color: var(--color-blue-200);
		background-color: var(--color-blue-500);
		padding: 2px 4px;
		border-radius: 4px;
		margin-left: 4px;
		font-weight: 700;
		border-top: 1px solid var(--color-blue-400);
		border-left: 1px solid var(--color-blue-400);
		border-bottom: 1px solid var(--color-blue-600);
		border-right: 1px solid var(--color-blue-600);
	}

	.upgrade {
		font-size: 10px;
		color: var(--color-green-200);
		background-color: var(--color-green-600);
		padding: 2px 4px;
		border-radius: 4px;
		margin-left: 4px;
		font-weight: 700;
		border-top: 1px solid var(--color-green-400);
		border-left: 1px solid var(--color-green-400);
		border-bottom: 1px solid var(--color-green700);
		border-right: 1px solid var(--color-green-700);
	}
</style>