---
import { MENU_ROUTES } from '../constants/routes';

interface Props {
	active?: string;
}

const { active } = Astro.props;
---
<nav class="navbar">
	<ul class="menuItems">
		{MENU_ROUTES.map((item) => 
			<li class:list={item.link 
				? ['menuItem', { active: active === item.link }] 
				: ['menuTitle']
			}>
				{item.link ? (
					<a href={item.link ? item.link : ''}>
						{item.text}
					</a>
				) : <span>{item.text}</span>}
			</li>
		)}
	</ul>
</nav>

<script is:inline>
	
</script>

<style scoped>
	.navbar {

	}
		
	.menuItems {
		padding: 0;
		margin: 0;
	}

	.menuItems li {
		list-style-type: none;
		padding: 4px 0;
	}

	.menuItem {
		font-size: 16px;
		padding-left: 10px !important;
	}

	.menuItem a {
		text-decoration: none;
		display: block;
		width: fit-content;
		color: var(--color-theme-menu-item);
		padding: 6px 8px;
		border-radius: 6px;
		transition: background-color .3s;
	}

	.menuItem a:hover {
		background-color: var(--color-theme-border);
		color: var(--color-theme-titles);
	}

	.active a {
		background-color: var(--color-theme-menu-item-active-bg) !important;
		color: #fff !important;
	}

	.menuTitle {
		font-size: 18px;
		margin-top: 8px;
		color: var(--color-theme-titles);
	}
</style>