---
import { MENU_ROUTES } from '../constants/routes';

const currentPage = new URL(Astro.request.url).pathname;
---
<nav class="navbar">
	<ul class="menuItems">
		{MENU_ROUTES.map((item) => 
			<li class:list={item.link ? ['menuItem'] : ['menuTitle']}>
				{item.link ? (
					<a href={item.link ? item.link : ''}>
						{item.text}
					</a>
				) : <span>{item.text}</span>}
			</li>
		)}
	</ul>
</nav>

<script is:inline>
	
</script>

<style scoped>
	.navbar {

	}
		
	.menuItems {
		padding: 0;
		margin: 0;
	}

	.menuItems li {
		list-style-type: none;
		padding: 4px 0;
	}

	.menuItem {
		font-size: 16px;
		padding-left: 10px !important;
	}

	.menuItem a {
		text-decoration: none;
		display: block;
		width: fit-content;
		color: var(--color-gray-500);
		padding: 6px 8px;
		border-radius: 6px;
		transition: background-color .3s;
	}

	.menuItem a:hover {
		background-color: var(--color-gray-200);
	}

	.menuTitle {
		font-size: 18px;
		margin-top: 8px;
	}
</style>