---
import { MENU_ROUTES } from '../constants/routes';

interface Props {
	active?: string;
}

const { active } = Astro.props;
---
<nav class="navbar">
	<ul class="menuItems">
		{MENU_ROUTES.map((item) => 
			<li class:list={item.link 
				? ['menuItem', { active: active === item.link }] 
				: ['menuTitle']
			}>
				{item.link ? (
					<a href={item.link ? item.link : ''}>
						{item.text} {item.isOptional && <span class="optional">OPTIONAL</span>}
						{item.isNew && <span class="new">NEW</span>}
						{item.isUpgrade && <span class="upgrade">UPGRADE</span>}
					</a>
				) : <span>{item.text}</span>}
			</li>
		)}
	</ul>
</nav>

<script is:inline>
	
</script>

<style scoped>
	.navbar {
		padding-right: 24px;
	}
		
	.menuItems {
		padding: 0;
		margin: 0;
	}

	.menuItems li {
		list-style-type: none;
		padding: 2px 0;
	}

	.menuItem {
		font-size: 14px;
		padding-left: 0 !important;
	}

	.menuItem a {
		text-decoration: none;
		display: block;
		width: 100%;
		box-sizing: border-box;
		color: var(--color-theme-menu-item);
		padding: 8px 12px;
		border-radius: 6px;
		line-height: 1.35;
		transition: background-color .2s, color .2s;
	}

	.menuItem a:hover {
		background-color: var(--color-theme-menu-item-active-bg);
		color: var(--color-theme-titles);
	}

	.active a {
		background-color: transparent !important;
		color: var(--color-theme-link) !important;
		font-weight: 700;
	}

	.menuTitle {
		font-size: 14px;
		margin-top: 26px;
		margin-bottom: 8px;
		padding: 0 12px;
		color: var(--color-theme-titles);
		font-weight: 700;
		line-height: 1.4;
	}

	.menuTitle:first-child {
		margin-top: 0;
	}

	.new {
		font-size: 10px;
		color: var(--color-theme-link);
		background-color: var(--color-theme-menu-item-active-bg);
		padding: 2px 4px;
		border-radius: 4px;
		margin-left: 4px;
		font-weight: 700;
		border: 1px solid var(--color-theme-border);
	}

	.upgrade {
		font-size: 10px;
		color: var(--color-green-400);
		background-color: rgba(77, 183, 178, 0.14);
		padding: 2px 4px;
		border-radius: 4px;
		margin-left: 4px;
		font-weight: 700;
		border: 1px solid var(--color-theme-border);
	}

	.optional {
		font-size: 8px;
		background-color: rgba(135, 140, 193, 0.14);
		padding: 2px 4px;
		border-radius: 4px;
		margin-left: 4px;
		font-weight: 700;
		border: 1px solid var(--color-theme-border);
	}
</style>
