---
---

<div class="rightSideBar">
    <ul class="anchors" id="anchorsRoot"></ul>
</div>
<script>
    import { fillAnchorsDocs } from "../utils/fillAnchorsDocs";
    const anchorsRoot = document.querySelector<HTMLUListElement>("#anchorsRoot");
    fillAnchorsDocs(anchorsRoot);
</script>
<style is:global>
    .rightSideBar {
        padding-left: 24px;
    }

    .anchors {
        padding: 0;
        margin: 0;
    }
    
    .anchorItem {
        list-style-type: none;
        margin-bottom: 12px;
    }

    .anchorItem a {
        display: block;
        font-size: 14px;
        line-height: 1.45;
        text-decoration: none;
        color: var(--color-theme-menu-item);
        transition: color .2s;
    }

    .anchorItem a:hover {
        text-decoration: none;
        color: var(--color-theme-titles);
    }
</style>
